/* stylelint-disable hue-degree-notation */
@import url("./reset.css");
@import url("./venus.css");
@import url("open-props/shadows");
@import url("./shame.css");

:root {
  --ff-base: "Venus-Acier", sans-serif;
  --ff-base-bold: "Venus-Plomb", sans-serif;
  --ff-base-light: "Venus-Acier", sans-serif;
  --ff-heading: "Venus-Martre", sans-serif;
  --color-bone: oklch(91.53% 0.023 83.41);
  --color-light-bone: oklch(from var(--color-bone) calc(l * 1.1) calc(c * 0.5) h);
  --color-dark-bone: oklch(from var(--color-bone) calc(l * 0.95) c h);
  --color-very-dark-bone: oklch(from var(--color-bone) calc(l * 0.6) calc(c * 0.9) h);
  --color-fern: oklch(51.37% 0.0798 149.57); /* #44744e */
  --color-light-fern: oklch(from var(--color-fern) calc(l * 1.08) c h);
  --color-citrine: oklch(85.86% 0.1674 101.41); /* #e8d331 */
  --s-5: clamp(0.4506rem, 0.4527rem + -0.0027vw, 0.4521rem);
  --s-4: clamp(0.5425rem, 0.5353rem + 0.0359vw, 0.5632rem);
  --s-3: clamp(0.651rem, 0.6326rem + 0.0921vw, 0.704rem);
  --s-2: clamp(0.7813rem, 0.7469rem + 0.1717vw, 0.88rem);
  --s-1: clamp(0.9375rem, 0.881rem + 0.2826vw, 1.1rem);
  --s0: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  --s1: clamp(1.35rem, 1.2217rem + 0.6413vw, 1.7188rem);
  --s2: clamp(1.62rem, 1.4362rem + 0.919vw, 2.1484rem);
  --s3: clamp(1.944rem, 1.6861rem + 1.2896vw, 2.6855rem);
  --s4: clamp(2.3328rem, 1.9766rem + 1.7811vw, 3.3569rem);
  --s5: clamp(2.7994rem, 2.3135rem + 2.4292vw, 4.1962rem);
  --fig-blend-mode: multiply;
  --fig-opacity: 0.75;
  --text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  --text-shadow-high: 3px 3px 5px rgb(0 0 0 / 30%);
}

:root.theme-dark {
  --color-bone: oklch(61.53% 0.04 90);
  --color-light-bone: oklch(from var(--color-bone) calc(l * 0.9) calc(c * 1.2) h);
  --color-dark-bone: oklch(from var(--color-bone) calc(l * 1.1) c h);
  --color-very-dark-bone: oklch(from var(--color-bone) calc(l * 1.5) calc(c * 0.9) h);
  --color-fern: oklch(90% 0.1 136); /* #44744e */
  --color-light-fern: oklch(from var(--color-fern) calc(l * 1.08) c h);
  --color-citrine: oklch(85.86% 0.1674 101.41); /* #e8d331 */
  --fig-blend-mode: luminosity;
  --fig-opacity: 0.85;
}

::selection {
  color: var(--color-bone);
  background-color: var(--color-light-fern);
}

html {
  --scrollbar-foreground: var(--color-light-fern);
  --scrollbar-background: var(--color-light-bone);

  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  scrollbar-width: auto;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--color-bone);
  color: var(--color-fern);
  font-family: var(--ff-base);
  font-size: clamp(16px, calc(1rem + 0.333vw), 22px);
  line-height: 1.4;
  letter-spacing: 0.03em;
  min-height: 100dvh;
  min-height: 100vh;
  quotes: "«\00A0" "\00A0»";
}

main {
  position: relative;
  min-height: 100vh;
  overflow: clip;
  background-color: var(--color-bone);
  background-image: radial-gradient(
    circle at 50% 8%,
    var(--color-light-bone) 0,
    var(--color-dark-bone) 55%,
    var(--color-bone) 100%
  );
  background-size: cover;
  z-index: 1;

  &::before {
    /* https://css-pattern.com/graph-paper/ */
    --s: 63px;
    --c1: var(--color-very-dark-bone);
    --c2: transparent;
    --_g: #0000 90deg, var(--c1) 0;

    background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
      conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
    background-size:
      var(--s) var(--s),
      calc(var(--s) / 5) calc(var(--s) / 5);
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
  }
}

main > * + * {
  margin-top: var(--s2);
}

main > *:not(section) {
  max-width: min(900px, calc(100% - 2 * var(--s2)));
  margin-inline: auto;
}

.text {
  color: var(--color-very-dark-bone);
  font-size: var(--s0);
  hyphens: auto;
  columns: 20ch 3;
  column-gap: var(--s5);
  max-width: min(1200px, calc(100% - 2 * var(--s2)));
}

ol {
  list-style-type: none;
  counter-reset: list;
  padding: 0;
}

ol li {
  counter-increment: list;

  &::before {
    content: counter(list);
    display: inline-grid;
    place-items: center;
    margin-inline-end: var(--s-5);
    color: var(--color-fern);
    text-shadow: var(--text-shadow);
    background-color: var(--color-dark-bone);
    border-radius: 50%;
    line-height: 1;
    width: var(--s2);
    height: var(--s2);
    text-align: left;
    letter-spacing: 0;
    font-family: var(--ff-heading);
  }
}

.footer-separator {
  position: relative;
  background-color: transparent;
  z-index: 10;

  & > svg {
    width: 100%;
    height: auto;
    color: var(--color-bone);
    background-color: transparent;

    & .drop-shadow {
      filter: drop-shadow(rgb(21 20 15 / 20%) 0.06em 0.06em 0.06em);
    }
  }
}

.tel {
  white-space: nowrap;
  letter-spacing: -1px;
}

.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:is(h1, h2, h3) {
  font-family: var(--ff-heading);
  font-weight: unset;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-size: var(--s3);
  opacity: 0.75;
}

.strong,
b,
strong {
  font-family: var(--ff-base-bold);
  font-weight: 400;
  letter-spacing: 0.06em;
}

p + ul,
p + ol,
ul + p,
ol + p,
li + li,
p + p {
  margin-top: var(--s0);
}

.cut-out {
  --_border-extension: var(--border-extension, 0.8rem);

  position: relative;
  padding: 1px;
  margin-inline-start: calc(-1 * var(--_border-extension));

  > * {
    margin: var(--_border-extension);
    width: calc(100% - 2 * var(--_border-extension));
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: -1px;
    border: 1px solid var(--color-very-dark-bone);
    opacity: 0.6;
    background-color: transparent;
  }

  &::before {
    top: calc(var(--_border-extension) * 1);
    bottom: calc(var(--_border-extension) * 1);
    z-index: 1;
    pointer-events: none;
    border-inline: 0;
  }

  &::after {
    left: calc(var(--_border-extension) * 1);
    right: calc(var(--_border-extension) * 1);
    pointer-events: none;
    border-block: 0;
  }
}
