---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <article>
    <h1>ERREUR 404</h1>
    <p>Cette page n'existe pas.</p>
    <a href="/">Cliquez ici pour revenir a la page d'accueil</a>
  </article>
</Layout>

<style>
  article {
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
  }
</style>
