---
import Layout from "../layouts/Layout.astro";
import CardImg from "../components/CardImg.astro";
import CardWide from "../assets/images/Carte-webheader-wide.webp";
import CardNarrow from "../assets/images/Carte-webheader-narrow.webp";
---

<Layout title="ocardinaux.com">
  <main>
		<CardImg mobileImgUrl={CardNarrow} desktopImgUrl={CardWide} alt="ocardinaux.com" />
		<article class="content">
			<h1 class="visually-hidden">Présentation</h1>
			<p class="large">
			Je construis des sites internet.
			</p>
			<p>
				Par exemple <a href="https://michelerouhet.fr">michelerouhet.fr</a>, <a href="https://janickponcin.com">janickponcin.com</a> et <a href="https://artistesdu5.fr">artistesdu5.fr</a>.
			</p>
			</article>
			<div class="footer">
				copyright 2024 © ocardinaux.com
			</div>
  </main>
</Layout>

<style>
	.card-img {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: auto;
		object-fit: contain;
		object-position: top center;
		margin: 0 auto;
	}

	.content {
		color: var(--color-bg);
		background-color: var(--color-text);
		margin: 0 1rem;
		padding: 2rem;
		border-radius: 1rem;
		font-size: var(--s2);
		box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5), inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);

		& > * {
			max-width: 65rem;
			margin: 0 auto;
		}
	}
	.large {
		font-size: var(--s4);
	}

	.footer {
		margin: 0 1rem;
		padding: 1rem;
	}
</style>