---
// @ts-ignore
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import portrait from "../assets/images/portrait.webp";
import { version } from "../../package.json";
import { Content as Changelog } from "../../CHANGELOG.md";

const entry = await getEntry("sections", "about");
const { Content } = await render(entry);
---

<footer class="footer">
  <div class="about">
    <figure class="portrait cut-out">
      <Image src={portrait} alt="moi" />
    </figure>
    <Content />
  </div>
  <span id="version">v{version}</span>
  <div class="changelog" style="display: flex;">
    <Changelog />
  </div>
</footer>

<style is:global>
  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: var(--s-2);
    background-color: var(--color-light-bone);
    color: var(--color-fern);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .portrait {
    width: min(33vw, 15em);
    height: min(33vw, 15em);

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      z-index: 10;
    }
  }

  .about {
    max-width: min(600px, calc(100% - 2 * var(--s2)));
    width: 100%;
    margin-inline: auto;
    margin-block-start: var(--s4);

    & > h1 {
      font-family: monospace;
      text-align: center;
      padding-block: var(--s2);
    }
  }

  .changelog {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    color: var(--color-very-dark-bone);
    font-family: monospace;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.1;
    max-width: none;
    white-space: nowrap;
    flex-direction: column;
    overflow: hidden;

    * {
      display: inline;
    }

    h1,
    h2,
    h3 {
      margin: 0;
      font-family: inherit;
      letter-spacing: inherit;
      font-size: inherit;
      line-height: 1.1;
      white-space: inherit;
    }

    h3 {display: none;}

    a,
    a:visited {
      color: #3498db;
    }

    a:hover,
    a:focus,
    a:active {
      color: #2980b9;
    }

    ul,
    li {
      text-align: left;
      margin: 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: disc;
      text-overflow: ellipsis;
    }
  }

  #version {
    text-decoration: underline dotted;
    place-self: end center;
    padding: var(--s-1);
  }

  .footer:has(#version:hover) .changelog {
    opacity: 0.6;
  }
</style>
