---
import { Image, getImage } from "astro:assets";

import RawSvg from "../components/RawSvg.astro";
import codeScreenshot from "../assets/images/code-screen.webp";
import portrait from "../assets/images/portrait.webp";

const bgImage = await getImage({
  src: codeScreenshot,
  format: "webp"
})
---

<!--  -->
<footer class="footer">
<!-- <footer class="footer"> -->
 <div class="about">
  <figure class="portrait cut-out">
    <Image src={portrait} alt="moi" />
  </figure>
  <h1>À propos de moi</h1>
  <p>Je suis né en 1966 à Lausanne (Suisse). Économiste et statisticien de formation, j'ai travaillé dans la recherche, puis dans le marketing, puis dans diverses choses, le plus récemment dans le domaine associatif.</p>
  <p>Tout au long de ma vie professionnelle, j'ai utilisé des outils informatiques, et les ai créés lorsque ceux-ci faisaient défaut. De plus en plus, ces outils étaient basés sur des technologies web.</p>
  <p>En 2019, j'ai finalement suivi une formation pour devenir développeur web.</p>
 </div>
  <span>v3.2.8</span>
</footer>

<style is:global>
  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: var(--s-2);
    background-color: var(--color-light-bone);
    color: var(--color-fern);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .portrait {
    width: min(33vw, 15em);
    height: min(33vw, 15em);

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      z-index: 10;
    }
  }

  .about {
    max-width: min(600px, calc(100% - 2 * var(--s2)));
    width: 100%;
    margin-inline: auto;
    margin-block-start: var(--s4);

    h1 {
      text-align: center;
      padding-block: var(--s2);
    }
  }
</style>