---
import { getImage } from "astro:assets";

import RawSvg from "../components/RawSvg.astro";
import codeScreenshot from "../assets/images/code-screen.webp";

const bgImage = await getImage({
  src: codeScreenshot,
  format: "webp"
})
---

<!--  -->
<footer class="footer">
<!-- <footer class="footer"> -->
 <h1>À propos de moi</h1>
  <span>v3.1.5</span>
</footer>

<style is:global>
  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: var(--s-2);
    background-color: var(--color-light-bone);
    color: var(--color-fern);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
</style>