---
import { getImage } from "astro:assets";

import RawSvg from "../components/RawSvg.astro";
import codeScreenshot from "../assets/images/code-screen.webp";

const bgImage = await getImage({
  src: codeScreenshot,
  format: "webp"
})
---

<!--  -->
<footer class="footer">
<!-- <footer class="footer"> -->
 <div class="about">
  <h1>À propos de moi</h1>
  <p>Je ne sais pas quoi dire…</p>
 </div>
  <span>v3.2.8</span>
</footer>

<style is:global>
  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: monospace;
    font-size: var(--s-2);
    background-color: var(--color-light-bone);
    color: var(--color-fern);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .about {
    max-width: min(600px, calc(100% - 2 * var(--s2)));
    width: 100%;
    margin-inline: auto;
    margin-block-start: var(--s4);

    h1 {
      text-align: center;
      padding-block: var(--s2);
    }
  }
</style>