<footer class="footer">
  <span>v3.1.5</span>
</footer>

<style>
  .footer {
    font-family: monospace;
    font-size: var(--s-2);
    padding: 1rem;
    margin-block-start: auto;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin-block-start: auto;
  }
</style>