---
import { Image } from "astro:assets";
import RawSvg from "../components/RawSvg.astro";
import astronomyFig from "../assets/images/astronomy-fig-38.webp";
---

<div class="hero">
  <div class="name">
    <RawSvg className="svg" svgFile="oc-ellipse-curves" />
  </div>
  <figure
    class="astronomy-fig"
    style=`aspect-ratio: ${astronomyFig.width / astronomyFig.height}; mask-image: url(${astronomyFig.src});`
  >
    <Image src={astronomyFig} alt="astronomy-fig-38" loading="eager" />
  </figure>
  <div class="line">Construction de sites internet</div>
  <div class="more">vvv</div>
</div>

<style>
  @keyframes astronomy {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  .hero {
    padding-top: 10vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content minmax(0, 1fr) max-content;
  }

  .name,
  .astronomy-fig,
  .line {
    width: clamp(200px, 50%, 600px);
    place-self: start center;
  }

  .astronomy-fig {
    mask-size: contain;
    background-image: linear-gradient(
      150deg,
      var(--color-light-bone),
      var(--color-bone),
      var(--color-dark-bone)
    );
    background-size: 250%;
    background-position: left;
    animation: 5s infinite alternate astronomy linear;
  }

  .astronomy-fig > img {
    object-fit: contain;
    height: auto;
    mix-blend-mode: multiply;
  }

  .line {
    margin-top: var(--s2);
    font-size: var(--s4);
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    text-wrap: balance;
    font-style: italic;
    line-height: 1;
  }

  .more {
    font-size: var(--s0);
    font-weight: 900;
    text-align: center;
    padding: 1em;
  }
</style>
