---
import { Image } from "astro:assets";
import Icon from "../components/Icon.astro";
import RawSvg from "../components/RawSvg.astro";
import astronomyFig from "../assets/images/astronomy-fig-38.webp";
---

<div class="hero">
  <div class="name">
    <RawSvg className="svg" svgFile="grenze-oc_min" />
  </div>
  <figure
    class="astronomy-fig"
    style=`aspect-ratio: ${astronomyFig.width / astronomyFig.height}; mask-image: url(${astronomyFig.src});`
  >
    <Image src={astronomyFig} alt="astronomy-fig-38" loading="eager" />
  </figure>
  <div class="line">
    <RawSvg className="svg" svgFile="grenze-construction_min" />
    <p>Paris · Lausanne · L'Isle-sur-la-Sorgue</p>
  </div>
  <div class="more">
    <span>
      <Icon icon="caret-double-down" />
    </span>
  </div>
</div>

<style>
  .hero {
    padding-top: 10vh;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content minmax(0, 1fr) max-content;
  }

  .name,
  .astronomy-fig,
  .line {
    width: clamp(200px, 50%, 600px);
    place-self: start center;
  }

  .astronomy-fig {
    mask-size: contain;
    background-image: linear-gradient(
      150deg,
      var(--color-light-bone),
      var(--color-bone),
      var(--color-dark-bone)
    );
    background-size: 250%;
    background-position: left;
    animation: 5s infinite alternate astronomy linear;
  }

  @keyframes astronomy {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  .astronomy-fig > img {
    object-fit: contain;
    height: auto;
    mix-blend-mode: multiply;
  }

  .line {
    margin-top: var(--s2);
    font-size: var(--s-2);
    letter-spacing: 2px;
    font-variation-settings: "wght" 500, "wdth" 125;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;
    line-height: 1;
  }

  /* ----------------------------------------------
 * Modified from Animista on 2024-11-1 4:18:21
 * Licensed under FreeBSD License.
 * ---------------------------------------------- */

  @keyframes bounce-top {
    0% {
      transform: translateY(-13px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    12% {
      opacity: 1;
    }
    20% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    32% {
      transform: translateY(-5px);
      animation-timing-function: ease-in;
    }
    41% {
      transform: translateY(-3px);
      animation-timing-function: ease-in;
    }
    46% {
      transform: translateY(-2px);
      animation-timing-function: ease-in;
    }
    13%,
    27%,
    38%,
    44% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  .more {
    font-size: var(--s0);
    font-weight: 900;
    text-align: center;
    padding: 1em;
    animation: bounce-top 5s infinite;

    &.faded-out {
      animation: more-fade-out 1s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes more-fade-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
</style>

<script>
  const more = document.querySelector(".more");
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("faded-out");
      }
    });
  }, { rootMargin: "-200px" });
  if (more) observer.observe(more);
</script>
