<div id="progress"></div>

<style>
  #progress {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background: var(--color-light-fern);
    z-index: 1000;
    transform: scaleX(0);
    transform-origin: left;
  }
</style>

<script>
  import { animate, scroll } from "motion";
  scroll(animate("#progress", {scaleX: [0, 1]}, {ease: "linear"}));
</script>
