---
import { getCollection } from "astro:content";
import "swiper/css";
import "swiper/css/navigation";

const screenshots = await getCollection("screenshots");
import Screenshot from "./Screenshot.astro";
interface Props {
  class?: string;
}

// const { class: className } = Astro.props;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      screenshots.map((screenshot: any) => (
        <Screenshot
          src={screenshot.data.src}
          url={screenshot.data.url}
          alt={screenshot.data.alt || ""}
          backside={screenshot.data.backside || ""}
        />
      ))
    }
  </div>
  <div class="swiper-navigation">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<style>
  .swiper {
    --swiper-theme-color: var(--color-fern);
    --swiper-navigation-size: var(--s-1);
    --swiper-rotation: 2deg;

    width: 101vw;
    transform: rotate(calc(var(--swiper-rotation) * -1));
    transform-origin: bottom left;
    height: 100%;
    max-width: none;
    padding-block: var(--s5) var(--s1);
  }

  .swiper-navigation {
    display: flex;
    justify-content: end;
    gap: var(--s0);
    align-items: center;
    padding-block-start: var(--s1);
    padding-inline: var(--s3);
    transform: rotate(var(--swiper-rotation));
    transform-origin: right;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: unset;
    width: var(--s2);
    height: var(--s2);
    /*border: 1px solid var(--color-fern);*/
    padding: 4px;
    border-radius: 50%;

    &:hover {
      background-color: var(--color-bone);
    }
  }
</style>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  new Swiper(".swiper", {
    modules: [Navigation],
    slidesPerView: "auto",
    spaceBetween: 0,
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
