---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
  src: ImageMetadata;
  alt: string;
  class?: string;
}

const { src, alt, class: className } = Astro.props;

const filename = src.src.split("/").pop();
const filenameWithoutExtension = filename?.split(".")[0];
---

<div class:list={[className, "screenshot"]} id={filenameWithoutExtension} data-img="screenshot">
  <figure>
    <Image src={src} alt={alt} style=`aspect-ratio: ${src.width / src.height};` />
    <figcaption>{alt}</figcaption>
  </figure>
</div>

<style>
  .screenshot {
    z-index: 1;

    & > figure {
      padding: var(--s-1);
      position: relative;
    }

    & figcaption {
      text-align: center;
      font-size: var(--s-2);
      opacity: 0;
      transition: opacity 0.3s ease-in;
      transition-delay: 0.1s;
    }

    & img {
      width: 100%;
      transform: rotate3d(20, 40, 0, 30deg);
      filter: drop-shadow(var(--s-5) var(--s-5) 10px rgb(0 0 0 / 0.2));
      transform-origin: center;
      height: auto;
      object-fit: contain;
      padding: var(--s-5);
      will-change: transform;
      transition: all 0.6s ease;
    }

    &:hover {
      img {
      transform: none;
    }

    figcaption {
      opacity: 1;
    }
  }
</style>
