---
interface Props {
  img: string;
  link: string;
  text?: string;
}

const { img, link, text } = Astro.props;

// remove https//
const linkText = link.split("https://")[1] || "";
---

<a href={link} data-img={img}>{text ?? linkText}</a>

<style is:global>
  main:has([data-img="mrHome"]:hover) .screenshot:not(#mrHome) img {
    filter: blur(1px);
    opacity: 0.5;
  }
  main:has([data-img="jpHome"]:hover) .screenshot:not(#jpHome) img {
    filter: blur(1px);
    opacity: 0.5;
  }
  main:has([data-img="a5eHome"]:hover) .screenshot:not(#a5eHome) img {
    filter: blur(1px);
    opacity: 0.5;
  }
</style>
