---
interface Props {
  img: string;
  link: string;
  text?: string;
}

const { img, link, text } = Astro.props;

// remove https//
const linkText = link.split("https://")[1] || "";
---

<a href={link} data-img={img}>{text ?? linkText}</a>

<style is:global>
  main:has([data-img="mrHome"]:hover) #mrHome img {
    transform: rotate3d(0, 0, 0, 0) scale(1);
  }
  main:has([data-img="jpHome"]:hover) #jpHome img {
    transform: rotate3d(0, 0, 0, 0) scale(1);
  }
  main:has([data-img="a5eHome"]:hover) #a5eHome img {
    transform: rotate3d(0, 0, 0, 0) scale(1);
  }
</style>
