---
// @ts-ignore
import { getEntry, render } from "astro:content";

export interface Props {
  id: string,
}

const { id } = Astro.props;

const entry = await getEntry("sections", id);
const { Content } = await render(entry);

---

<section id={id}>
  <slot />
  <Content frontmatter={entry.data} />
</section>

<style is:global>
  section {
    position: relative;
    min-height: 100vh;
    font-size: var(--s2);
    padding-block: var(--s3);

    & > * {
      max-width: min(900px, calc(100% - 2 * var(--s2)));
      margin-inline: auto;
      margin-block-start: var(--s4);
    }
  }
</style>
