---
---
<div>⚡ SITE EN COURS DE CONSTRUCTION ⚡</div>

<style>
  div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.5rem;
    color: red;
    background-color: black;
    z-index: 100;
  }
</style>
