---
---
<div>⚡ EN COURS DE CONSTRUCTION ⚡<br/>🚧🚧🚧</div>

<style>
  div {
    position: relative;
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    margin-block: 3rem;
    color: red;
    background-color: black;
    transform: rotate(-2deg);
    border-radius: 0.5rem;

    &::after{
      content: "o";
      font-size: 8px;
      color: white;
      position: absolute;
      top: 3px;
      left: 50%;
    }
  }
</style>
